header{
	position: fixed;
	background-color: white;
	z-index: 999;
}
.row{
	height: 100%;
}
.icon{
	/*background-image: url("https://res.cloudinary.com/buituan/image/upload/v1562254248/Project1/icon.png");
	background-repeat: no-repeat;
	background-position: center center;*/
	padding: 2%;
}
.contact{
	/*height: 50%;*/
	padding: 1% 0% 1% 0%;
	display: flex;
	flex-direction: row-reverse;
	align-items: baseline;
}
.contact a{
	text-decoration: none;
	color: var(--redColor);
	font-size: 18px;
	font-weight: bold;
	font-family: var(--fontFamily);
	width: 20%;
}
.contact i{
	margin: 0% 1% 0% 1%;
}
.btn-contact{
	display: grid;
	grid-template-columns: repeat(3, minmax(190px,1fr));
	grid-column-gap: 0.2%;
}
.btn-contact button{
	border: none;
	color: white;
	background-color: var(--redColor);
	font-size: 14px;
	padding: 2% 0% 2% 0%;
}
.menu{
	clear: right;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 1%;
	padding: 0% 2% 0% 2%;
	position: relative;
}
.menu1 a{
	text-decoration: none;
	color: #333333;
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 40px;
}
.menu1 a:hover{
	color: var(--redColor);
}
.menu1:hover .menu2{
	display: block;
}
