.content-page{
	display: flex;
	flex-direction: row;
	padding-top: 100px;
	padding-left: 5%;
	padding-right: 5%;
}
.side-bar{
	color: black;
	font-weight: bold;
	text-align: left;
}
.side-bar h1{
	font-size: 25px;
	color: black;
}
.side-bar ul{
	list-style-type: none;
}
.side-bar ul li {
	border-top: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
	padding: 5% 5% 5% 0%;
}
.active-side-bar{
	color: var(--redColor) !important;
}
.side-bar ul li a{
	text-decoration: none;
	color: #6E6F72;
	font-weight: bold;
	padding: 5% 0% 5% 0%;
	display: flex;
	flex-direction: row;
}
.side-bar ul li a:hover{
	color: var(--redColor);
}
.side-bar ul li a i{
	display: none;
}
.active-side-bar:hover i{
	display: block;
}
.active-sub-route{
	color:var(--redColor) !important;
	text-decoration: underline !important;
	font-weight: none !important;
}